# Environnement virtuel
pfe/
env/
venv/

# Datasets (trop lourds pour GitHub)
dataset/
dataset pascal/
dataset_indoor_balanced/
dataset_indoor_yolo/
dataset_original_backup/
coco/
*.zip
*.tar.gz

# Résultats d'entraînement YOLO
runs/

# Modèles entraînés (lourds)
*.pt
*.onnx
*.engine

# Cache
*.cache

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Env variables
.env
*.env

# OS
Thumbs.db
desktop.ini

# VS Code
.vscode/